a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
  .btn {
    background-color: rgb(228, 0, 0);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(0, 0, 0);
  }
  body{
background-image: url("1214264.jpg");
background-size: cover;
background-repeat: no-repeat;
  }
  h3{
    color: red;
  }
  p{
    color: rgb(228, 0, 0);
  }

video {
  width: 100%;
  height: auto;
}
